ion-card {
  --background: var(--ion-color-secondary);
  --color: var(--ion-color-tertiary);

  ion-card-title {
    --color: var(--ion-color-primary);
    //min-width: 150px;
    margin-bottom: 8px;
  }

  img {
    //min-width: 200px;
    //min-height: 150px;
    max-height: 450px;
    width: auto;
    display: block;
    margin: 2%;
  }
}

.large {
  font-size: 16px;
}
