// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
  --ion-margin: 32px;
  --ion-font-family: Helvetica, Arial, sans-serif;

  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-border-color: var(--ion-color-terciary);
  --ion-toolbar-color: var(--ion-color-secondary);
}
